@import url('https://fonts.googleapis.com/css2?family=Alef:wght@400;700&family=Hind+Madurai:wght@300;400;500;600;700&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import 'tailwindcss';
@import 'primeicons/primeicons.css';
@theme {
  --font-Open-Sans: 'Open-Sans', 'sans-serif';
  --font-Alef: 'Alef', 'sans-serif';
  --font-Hind-Madurai: 'Hind-Madurai', 'sans-serif';
}
body {
  background-color: #1a1f24;
}
